body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', Arial, sans-serif;
}

a {
  text-transform: uppercase;
  color: black;

  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.site-navigation,
.user-navigation,
.landing .landing-list,
.filter-grid,
.filter-feature,
.website-templates .catalog,
.social-icons {
  padding: 0;
  margin: 0;

  list-style: none;
}


/* Навигация: */

.main-header {
  padding-top: 49px;

  font-size: 16px;
  line-height: 30px;
  font-weight: 500;

  background-color: #eeeeee;
}

.main-navigation {
  width: 1160px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-navigation .site-navigation {
  margin-left: 120px;

  display: flex;
  flex-wrap: wrap;
  width: 600px;
}

.main-navigation li {
  margin-top: 7px;
}

.site-navigation li {
  margin-right: 46px;
}

.user-basket {
  position: relative;
  padding-left: 41px;
}

.user-basket::before {
  content: "";
  
  position: absolute;
  top: 2px;
  left: 0px;
  
  width: 15px;
  height: 15px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-navigation .active {
  position: relative;
}

.main-navigation .active::after {
  content: "";
  
  position: absolute;
  top: 28px;
  left: 0px;
  
  width: 100%;
  height: 2px;
  background-color: #fb565a;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

/* Слайдер на главной странице: */

.slider {
  min-height: 430px;
}

.slider .slider-wrapper-background {
  background-color: #eeeeee;
}

.slider .slider-wrapper-centering {
  position: relative;

  width: 1160px;
  margin: 0 auto;
}

.slider-slide-wrapper {
  position: absolute;
  bottom: 0;
  z-index: -1;  

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.slider-slide-wrapper img {
  flex-shrink: 0;
}

.first-slide img {
  margin-right: 30px;
  margin-top: 7px;
}

.second-slide img {
  margin-top: -9px;
  margin-right: 1px;

}

.third-slide img {
  margin-top: 9px;
}

.slider-text-wrapper p:first-child {
  margin-bottom: 20px;
  margin-top: 68px;
  margin-right: -50px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-text-wrapper p:nth-child(2) {
  margin-bottom: 38px;
  margin-top: 27px;

  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
}

.third-slide p:first-child {
  letter-spacing: 0.35px;
}

.third-slide p:first-child::first-line {
  letter-spacing: 0.3px;
}

.third-slide p:first-child::first-letter {
  margin-right: 1px;
}

.slider-text-wrapper a {
  display: block;
  width: 240px;
  height: 50px;

  font-size: 16px;
  line-height: 50px;
  font-weight: 500;
  color: white;
  text-align: center;
  
  background-color: #fb565a;
}

.slider-text-wrapper a:hover,
.slider-text-wrapper a:focus {
  background-color: #e74246;
}

.slider-text-wrapper a:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
}

.slider-controls {
  position: absolute;
  top: 306px;
  left: 536px;
  z-index: 10;
  
  display: flex;
  justify-content: space-between;
  width: 88px;
}

.slider-controls label {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 18px;
  height: 18px;

  background-color: white;  
  border-radius: 50%;
}

#slider-control-1:checked ~ .slider-controls label[for="slider-control-1"]::before,
#slider-control-2:checked ~ .slider-controls label[for="slider-control-2"]::before,
#slider-control-3:checked ~ .slider-controls label[for="slider-control-3"]::before {
  content: "";

  display: block;
  width: 4px;
  height: 4px;

  border-radius: 50%;
  border: 2px solid #c1c1c1;
}

#slider-control-1:checked ~ .first-slide,
#slider-control-2:checked ~ .second-slide,
#slider-control-3:checked ~ .third-slide {
  position: relative;
  z-index: 0;
}

/* Лэндинг на главной странице: */

.landing h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.landing .landing-list {
  margin: 0 auto;

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 1160px;
}

.landing-list li {
  margin-right: 100px;
  margin-bottom: 80px;
}

.landing-list li:nth-child(3n) {
  margin-right: 0px;
}

.landing p {
  width: 250px;

  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #283136;
}

.landing .button-order {
  display: block;
  width: 160px;
  height: 50px;

  font-size: 16px;
  line-height: 50px;
  font-weight: 500;
  color: white;
  text-align: center;
}

.landing .button-red {
  background-color: #fb565a;
}

.landing .button-red:hover,
.landing .button-red:focus {
  background-color: #e74246;
}

.landing .button-red:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
}

.landing .button-green {
  background-color: #00ca74;
}

.landing .button-green:hover,
.landing .button-green:focus {
  background-color: #00bc6c;
}

.landing .button-green:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #00aa62;
}

.landing .button-yellow {
  background-color: #efc84a;
}

.landing .button-yellow:hover,
.landing .button-yellow:focus {
  background-color: #eab534;
}

.landing .button-yellow:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #e5a722;
}


/* Каталог магазина: */

.wrapper-main-title-shop {
  background-color: #eeeeee;
}

.main-title-shop {
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 1160px;
  height: 250px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.wrapper-catalog {
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  width: 1160px;
}

.website-templates .catalog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 760px;
}

.catalog-item {
  position: relative;
  margin-bottom: 30px;

  display: flex;
  flex-direction: column;
  padding-top: 39px;
}

.catalog-item::before {
  content: "";
  
  position: absolute;
  top: 0px;
  left: 0px;
  
  width: 360px;
  height: 40px;

  background-image: url("../img/browser.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.12;
}

.catalog-item:hover::before {
  opacity: 1;
}

.catalog .modal-order {
  position: absolute;
  bottom: 0;
  z-index: -1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 360px;
  min-height: 231px;
  max-height: 576px;
  padding: 30px 60px 40px 60px;

  text-align: center;
  overflow: hidden;

  background-color: #eeeeee;
}

.catalog-item:hover .modal-order {
  z-index: 1;
}

.modal-order:focus-within {
  z-index: 1;
}



.modal-order .website-title {
  display: block;
  width: 240px;

  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.modal-order .website-title:hover,
.modal-order .website-title:focus {
  color: #fb565a;
}

.modal-order .website-title:active {
  color: rgba(0, 0, 0, 0.3);
}

.modal-order p {
  margin: 20px 0px;

  width: 240px;
  max-height: 390px;
  
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
  text-align: center;
  
  overflow: hidden;
}

.modal-order .website-order {
  margin-top: 10px;

  display: block;
  width: 200px;
  height: 50px;

  font-size: 16px;
  line-height: 50px;
  font-weight: 500;
  color: white;
  text-align: center;

  background-color: #fb565a;
}

.modal-order .website-order:hover,
.modal-order .website-order:focus {
  background-color: #e74246;
}

.modal-order .website-order:active {
  background-color: #d7373b;
}

.filter h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.filter li {
  position: relative;
  margin-bottom: 20px;

  padding-left: 35px;
}

.filter label {
  font-size: 16px;
  font-weight: 400;
  color: #283136;
}

.radio label {
  line-height: 25px;
}

.checkbox label {
  line-height: 23px;
}

.radio-input + label::before {
  content: "";
  
  position: absolute;
  top: 0px;
  left: 0px;
  
  width: 9px;
  height: 9px;
  padding: 4px;

  border: 4px solid #4d4d4d;
  border-radius: 50%;
  opacity: 0.4;
}

.checkbox-input + label::before {
  content: "";
  
  position: absolute;
  top: 0px;
  left: 0px;
  
  width: 28px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.radio-input:checked + label::before {
  background-color: #4d4d4d;
  background-clip: content-box;
}

.checkbox-input:checked + label::before {
  background-image: url("../img/checkbox-on.svg");
}

input:enabled + label:hover::before,
input:enabled:focus + label::before {
  opacity: 1;
}

input:disabled + label {
  opacity: 0.3;
}

.filter .filter-button {
  margin-top: 30px;

  width: 260px;
  height: 50px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;

  background-color: #eeeeee;
  border-width: 0;
}

.filter .filter-button:hover,
.filter .filter-button:focus {
  background-color: #dfdfdf;
}

.filter .filter-button:active {
  color: rgba(0, 0, 0, 0.3);

  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
}


/* Футер: */

.main-footer {
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 70px;

  display: flex;
  align-items: center;
  width: 1160px;
}

.social-icons {
  margin-right: 128px;

  display: flex;
  flex-wrap: wrap;
  width: 273px;
}

.social-icons li {
  position: relative;
  margin-right: 12px;
  margin-bottom: 12px;
}

.social-icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 79px;
  height: 79px;

  font-size: 0;

  border-radius: 50%;
  background-color: #e1e1e1;
}

.social-icons a::before {
  content: "";
  
  display: block;
  
  background-repeat: no-repeat;
  background-position: 0 0;
}

.vkontakte::before {
  width: 26px;
  height: 15px;

  background-image: url("../img/vk-icon.svg");
}

.facebook::before {
  width: 12px;
  height: 22px;

  background-image: url("../img/fb-icon.svg");
}

.instagram::before {
  width: 21px;
  height: 21px;

  background-image: url("../img/insta-icon.svg");
}

.social-icons a:hover,
.social-icons a:focus {
  background-color: #e74246;
}

.social-icons a:active {
  background-color: #d7373b;
}

.social-icons a:active::before {
  opacity: 0.3;
}

.footer-slogan p:first-child {
  margin-top: 10px;
  margin-bottom: 6px;

  font-size: 36px;
  line-height: 36px;
  font-weight: 500;
}

.footer-slogan p:nth-child(2) {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}


/* Модальное окно сообщения: */

.modal-message {
  position: fixed;
  top: 140px;
  left: 50%;
  margin-left: -480px;

  display: none;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  width: 960px;
  height: 590px;
  box-sizing: border-box;
  padding: 70px 50px 70px 100px;
  
  box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
  background-color: white;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.modal-message-show {
  display: flex;
  
  animation: bounce 0.6s;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal-message-error {
  animation: shake 0.6s;
}

.modal-message h2 {
  margin: 0 440px 0 0;

  font-size: 45px;
  font-weight: 500;
  line-height: 1;
}

.modal-message .close-cross {
  width: 21px;
  height: 21px;

  font-size: 0;

  background-color: white;
  background-image: url("../img/close-cross.svg");
  border: 0;
  opacity: 0.3;
}

.close-cross:hover,
.close-cross:focus {
  opacity: 1;
}

.close-cross:active {
  opacity: 0.1;
}

.message-form {
  margin-top: 20px;

  display: flex;
  flex-wrap: wrap;
}

.message-form p:first-child {
  margin-right: 40px;
}

.message-form label {
  display: block;
  margin-bottom: 12px;

  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.message-form input {
  box-sizing: border-box;
  width: 360px;
  height: 50px;
  padding: 16px 15px;

  border: 2px solid #d7dcde;
}

.message-form textarea {
  margin-bottom: 25px;

  box-sizing: border-box;
  width: 760px;
  height: 118px;
  padding: 16px 15px;

  border: 2px solid #d7dcde;
  resize: none;
}

.message-form input:hover,
.message-form textarea:hover {
  border: 2px solid #b4b9bb;
}

.message-form input:focus,
.message-form textarea:focus {
  border: 2px solid #000000;
}

.message-form input:invalid {
  color: #e74246;

  border: 2px solid #e74246;
}

.message-form input::-moz-placeholder { color: rgba(68, 68, 68, 0.5);  }
.message-form input::-webkit-input-placeholder { color: rgba(68, 68, 68, 0.5); }
.message-form input:-ms-input-placeholder { color: rgba(68, 68, 68, 0.5); }
.message-form input::-ms-input-placeholder { color: rgba(68, 68, 68, 0.5); }
.message-form input::placeholder { color: rgba(68, 68, 68, 0.5); } 

.message-form textarea::-moz-placeholder { color: rgba(68, 68, 68, 0.5);  }
.message-form textarea::-webkit-input-placeholder { color: rgba(68, 68, 68, 0.5); }
.message-form textarea:-ms-input-placeholder { color: rgba(68, 68, 68, 0.5); }
.message-form textarea::-ms-input-placeholder { color: rgba(68, 68, 68, 0.5); }
.message-form textarea::placeholder { color: rgba(68, 68, 68, 0.5); } 

.message-form input:focus::-moz-placeholder { color: #444444;  }
.message-form input:focus::-webkit-input-placeholder { color: #444444; }
.message-form input:focus:-ms-input-placeholder { color: #444444; }
.message-form input:focus::-ms-input-placeholder { color: #444444; }
.message-form input:focus::placeholder { color: #444444; }

.message-form textarea:focus::-moz-placeholder { color: #444444;  }
.message-form textarea:focus::-webkit-input-placeholder { color: #444444; }
.message-form textarea:focus:-ms-input-placeholder { color: #444444; }
.message-form textarea:focus::-ms-input-placeholder { color: #444444; }
.message-form textarea:focus::placeholder { color: #444444; }

.message-form button {
  width: 260px;
  height: 50px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: white;
  text-transform: uppercase;

  background-color: #fb565a;
  border: 0;
}


/* Общие правила:  */

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
