body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', Arial, sans-serif;
}

.modal-message, 
.modal-order {
  display: none;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.main-header {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  
  background-color: #eeeeee;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
  padding-top: 83px;
}

.site-navigation,
.user-navigation,
.landing .landing-list,
.filter-grid,
.filter-feature,
.website-templates .catalog,
.social-icons {
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.wrapper-main-title-shop {
  background-color: #eeeeee;
}

.main-title-shop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1160px;
  height: 250px;
  margin: 0 auto;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.wrapper-catalog {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
}

.website-templates .catalog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 760px;
}

.catalog li {
  margin-bottom: 30px;
}

.landing h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.filter h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.filter label {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #283136;
}

input:disabled + label {
  color: rgba(40, 49, 54, 0.3);
}

.filter .filter-button {
  width: 260px;
  height: 50px;
  background-color: #eeeeee;
  border-width: 0;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.filter .filter-button:hover,
.filter .filter-button:focus {
  background-color: #dfdfdf;
}

.filter .filter-button:active {
  color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
}

.landing .landing-list {
  display: flex;
  justify-content: flex-start;
  width: 1160px;
  margin: 0 auto;
}

.landing-list li {
  margin-right: 100px;
}

.landing p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #283136;

  width: 250px;
}

.landing .button-order {
  display: block;
  width: 160px;
  height: 50px;

  font-size: 16px;
  line-height: 50px;
  font-weight: 500;
  color: white;
  text-align: center;
}

.landing .button-red {
  background-color: #fb565a;
}

.landing .button-red:hover,
.landing .button-red:focus {
  background-color: #e74246;
}

.landing .button-red:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}

.landing .button-green {
  background-color: #00ca74;
}

.landing .button-green:hover,
.landing .button-green:focus {
  background-color: #00bc6c;
}

.landing .button-green:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #00aa62;
}

.landing .button-yellow {
  background-color: #efc84a;
}

.landing .button-yellow:hover,
.landing .button-yellow:focus {
  background-color: #eab534;
}

.landing .button-yellow:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #e5a722;
}

.main-footer {
  display: flex;
  align-items: center;
  width: 1160px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 70px;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  width: 260px;
  margin-right: 140px;
}

.social-icons a {
  display: block;
  width: 79px;
  height: 79px;
  border-radius: 50%;
  background-color: #e1e1e1;

  font-size: 0;

  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-icons .vkontakte {
  background-image: url("../img/vk-icon.svg");
}

.social-icons .facebook {
  background-image: url("../img/fb-icon.svg");
}

.social-icons .instagram {
  background-image: url("../img/insta-icon.svg");
}

.social-icons a:hover,
.social-icons a:focus {
  background-color: #e74246;
}

.social-icons a:active {
  background-color: #d7373b;
}

.footer-slogan p:first-child {
  font-size: 36px;
  line-height: 36px;
  font-weight: 500;

  margin-bottom: 6px;
  margin-top: 10px;
}

.footer-slogan p:nth-child(2) {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
