body {
  margin: 0;
  padding: 0;

  font-family: Roboto, Arial, sans-serif;
}

a {
  text-transform: uppercase;
  color: #000000;

  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.site-navigation,
.user-navigation,
.landing .landing-list,
.filter-grid ul,
.filter-feature ul,
.website-templates .catalog,
.social-icons,
.we-do-orders,
.list-companies-logo,
.page-listing {
  padding: 0;
  margin: 0;

  list-style: none;
}


/* Навигация: */

.main-header {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;

  background-color: #eeeeee;
}

.main-header-logo-inner-pages:hover,
.main-header-logo-inner-pages:focus {
  opacity: 0.8;
}

.main-header-logo-inner-pages:active {
  opacity: 0.3;
}

.main-navigation {
  width: 1160px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  padding: 49px 20px 0px;

  background-color: #eeeeee;
}

.navigation-wrapper {
  display: flex;
  justify-content: space-between;
  width: 828px;
}

.site-navigation {
  margin-top: 27px;

  display: flex;
  flex-wrap: wrap;
  width: 484px;
}

.site-navigation li {
  margin-bottom: 15px;

  min-width: 121px;
  box-sizing: border-box;

  text-align: center;

  flex-grow: 1;
}

.site-navigation li:nth-child(2) {
  padding-right: 10px;
}

.site-navigation li:nth-child(3) {
  padding-right: 5px;
}

.main-navigation .user-navigation {
  margin-top: 27px;
}

.user-basket {
  position: relative;

  padding-left: 41px;
}

.user-basket::before {
  content: "";

  position: absolute;
  top: 2px;
  left: 0px;

  width: 15px;
  height: 15px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-navigation .active {
  position: relative;
}

.main-navigation .active::after {
  content: "";

  position: absolute;
  top: 28px;
  left: 0px;

  width: 100%;
  height: 2px;

  background-color: #fb565a;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

/* Слайдер на главной странице: */

.slider {
  min-height: 430px;
}

.slider .slider-wrapper-background {
  min-height: 400px;

  background-color: #eeeeee;
}

.slider .slider-wrapper-centering {
  position: relative;

  width: 1160px;
  margin: 0 auto;
  padding: 0px 20px;

  background-color: #eeeeee;
}

.slider-slide-wrapper {
  position: absolute;
  bottom: 0;
  z-index: -1;  

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.slider-slide-wrapper img {
  flex-shrink: 0;
}

.first-slide img {
  margin-top: 7px;
  margin-right: 30px;
}

.second-slide img {
  margin-top: -9px;
  margin-right: 1px;

}

.third-slide img {
  margin-top: 9px;
}

.slider-text-wrapper p:first-child {
  margin-top: 68px;
  margin-bottom: 20px;
  margin-right: -50px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-text-wrapper p:nth-child(2) {
  margin-top: 27px;
  margin-bottom: 38px;

  padding-right: 30px;

  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
}

.third-slide p:first-child {
  letter-spacing: 0.35px;
}

.third-slide p:first-child::first-line {
  letter-spacing: 0.3px;
}

.third-slide p:first-child::first-letter {
  margin-right: 1px;
}

.slider-text-wrapper a {
  margin-bottom: 80px;

  display: block;
  box-sizing: border-box;
  width: 240px;
  min-height: 50px;
  padding: 15px;

  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;

  border-radius: 3px;
  background-color: #fb565a;
}

.slider-text-wrapper a:hover,
.slider-text-wrapper a:focus {
  background-color: #e74246;
}

.slider-text-wrapper a:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
}

.slider-controls {
  position: absolute;
  top: 306px;
  left: 556px;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  width: 88px;
}

.slider-controls label {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 18px;
  height: 18px;

  background-color: #ffffff;  
  border-radius: 50%;
}

.slider-control-1:checked ~ .slider-controls label[for="slider-control-1"]::before,
.slider-control-2:checked ~ .slider-controls label[for="slider-control-2"]::before,
.slider-control-3:checked ~ .slider-controls label[for="slider-control-3"]::before {
  content: "";

  display: block;
  width: 4px;
  height: 4px;

  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-control-1:checked ~ .first-slide,
.slider-control-2:checked ~ .second-slide,
.slider-control-3:checked ~ .third-slide {
  position: relative;
  z-index: 0;
}

/* Лэндинг на главной странице: */

.landing .landing-list {
  margin: 0 auto;
  margin-top: 71px;

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 1160px;
  padding: 0px 20px;
}

.landing-list li {
  margin-right: 100px;
  margin-bottom: 80px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.landing-list li:nth-child(3n) {
  margin-right: 0px;
}

.landing h3 {
  margin-top: 25px;
  margin-bottom: 0px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.landing p {
  width: 250px;

  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
}

.landing img {
  order: -1;
}

.landing .button-order {
  margin-top: 16px;

  display: block;
  width: 160px;
  height: 50px;

  font-size: 16px;
  line-height: 50px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;

  border-radius: 3px;
}

.landing .button-red {
  background-color: #fb565a;
}

.landing .button-red:hover,
.landing .button-red:focus {
  background-color: #e74246;
}

.landing .button-red:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
}

.landing .button-green {
  background-color: #00ca74;
}

.landing .button-green:hover,
.landing .button-green:focus {
  background-color: #00bc6c;
}

.landing .button-green:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #00aa62;
}

.landing .button-yellow {
  background-color: #efc84a;
}

.landing .button-yellow:hover,
.landing .button-yellow:focus {
  background-color: #eab534;
}

.landing .button-yellow:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #e5a722;
}


/* Краткое описание компании */

.short-company-description {
  position: relative;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  width: 1160px;
  padding: 0px 20px;
}

.text-description {
  width: 670px;
}

.text-description h3 {
  margin-top: 76px;
  margin-bottom: 35px;

  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.text-description p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
}

.text-description h4 {
  margin-top: 38px;

  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.we-do-orders li {
  position: relative;
  margin-top: 24px;

  padding-left: 35px;

  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
}

.we-do-orders li::before {
  content: "";

  position: absolute;
  top: 0px;
  left: 0px;

  width: 25px;
  height: 40%;

  border-bottom: 2px solid #fb565a;
}

.image-numbers-description {
  width: 360px;
  padding-top: 42px;
}

.image-numbers-description > p {
  margin-top: 33px;
  margin-left: 16px;

  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.numbers-description-wrapper {
  display: flex;
}

.numbers-description-wrapper div {
  width: 120px;
}

.numbers-description-wrapper p:first-child {
  margin-top: 42px;
  margin-bottom: 34px;

  font-size: 45px;
  line-height: 10px;
  font-weight: 700;
}

.numbers-description-wrapper .percent {
  font-size: 35px;
}

.numbers-description-wrapper p:nth-child(2) {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #283136;
}

.short-company-description::before {
  content: "";

  position: absolute;
  top: 0px;
  left: 20px;

  width: 1160px;
  height: 2px;

  background-color: #eeeeee;
}


/* Логотипы компаний */

.companies-logo {
  position: relative;
  margin: 0 auto;
  margin-top: 58px;
  margin-bottom: 80px;

  width: 1160px;
  min-height: 180px;
  padding: 0px 20px;
}

.list-companies-logo {
  display: flex;
  flex-wrap: wrap;
  padding-top: 45px;
}

.list-companies-logo li {
  position: relative;
  margin-bottom: 45px;

  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
}

.list-companies-logo li:nth-child(4n+1) {
  min-width: 281px;
}

.list-companies-logo li:nth-child(4n) {
  min-width: 279px;
}

.list-companies-logo li::after {
  content: "";

  position: absolute;
  top: 50%;
  margin-top: -26px;
  right: 0px;

  width: 2px;
  height: 52px;

  background-color: #eeeeee;
}

.list-companies-logo li:last-child::after,
.list-companies-logo li:nth-child(4n)::after {
  display: none;
}

.list-companies-logo a {
  opacity: 0.2;
}

.list-companies-logo a:hover {
  opacity: 1;
}

.list-companies-logo a:active {
  opacity: 0.1;
}

.list-companies-logo .logo-1 {
  position: relative;
  top: 8px;
  right: 10px;
}

.list-companies-logo .logo-2 {
  position: relative;
  top: 3px;
  left: 1px;
}

.list-companies-logo .logo-3 {
  position: relative;
  top: 2px;
}

.list-companies-logo .logo-4 {
  position: relative;
  top: 7px;
  left: 10px;
}

.companies-logo::before {
  content: "";

  position: absolute;
  top: 0px;
  left: 20px;

  width: 1160px;
  height: 2px;

  background-color: #eeeeee;
}

.companies-logo::after {
  content: "";

  position: absolute;
  bottom: 0px;
  left: 20px;

  width: 1160px;
  height: 2px;

  background-color: #eeeeee;
}


/* Фильтр шаблонов сайтов */

.filter-item {
  margin: 0;
  padding: 0;

  border: none;
}

.range-filter {
  margin-top: 51px;

  width: 260px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.big-letter-spacing {
  letter-spacing: 0.6px;
}

.range-controls {
  position: relative;
  margin-bottom: 15px;

  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background-color: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background-color: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0px;

  width: 4px;
  height: 4px;
  padding: 0;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;

  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  vertical-align: top;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  margin-left: 10px;

  width: 60px;
  padding: 8px 10px;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background-color: #f1f1f1;
}

.max-price {
  text-align: right;
}

.filter-grid {
  margin-top: 56px;
  margin-bottom: 31px;
}

.filter-grid legend {
  margin-bottom: 16px;
}

.filter-feature legend {
  margin-bottom: 17px;
}

.filter li {
  position: relative;
  margin-bottom: 15px;

  padding-left: 35px;
}

.filter-feature li {
  margin-bottom: 17px;
}

.radio label,
.checkbox label {
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  color: #283136;
}

.checkbox label {
  line-height: 23px;
}

.radio-input + label::before {
  content: "";

  position: absolute;
  top: 0px;
  left: 0px;

  width: 9px;
  height: 9px;
  padding: 4px;

  border: 4px solid #4d4d4d;
  border-radius: 50%;
  opacity: 0.4;
}

.checkbox-input + label::before {
  content: "";

  position: absolute;
  top: 0px;
  left: 0px;

  width: 28px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.radio-input:checked + label::before {
  background-color: #4d4d4d;
  background-clip: content-box;
}

.checkbox-input:checked + label::before {
  background-image: url("../img/checkbox-on.svg");
}

.enabling-disabling:enabled + label:hover::before,
.enabling-disabling:enabled:focus + label::before {
  opacity: 1;
}

.enabling-disabling:disabled + label {
  opacity: 0.3;
}

.filter .filter-button {
  margin-top: 30px;

  width: 260px;
  height: 50px;

  font-size: 16px;
  line-height: 50px;
  font-weight: 500;
  text-transform: uppercase;

  border: 0;
  border-radius: 3px;
  background-color: #eeeeee;
}

.filter .filter-button:hover,
.filter .filter-button:focus {
  background-color: #dfdfdf;
}

.filter .filter-button:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.sorting {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  min-height: 75px;
}

.sorting .links-wrapper {
  max-width: 500px;
}

.sorting h3 {
  margin: 0;

  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.sorting a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
}

.descending,
.ascending {
  opacity: 0.2;
}

.sorting a:first-child {
  margin-right: 22px;
}

.sorting a:nth-child(2) {
  margin-right: 22px;
}

.sorting a:nth-child(3) {
  margin-right: 42px;
}

.sorting a:nth-child(4) {
  margin-right: 15px;
}

.sorting a:hover,
.sorting a:focus {
  color: rgba(0, 0, 0, 0.6);

  opacity: 1;
}

.sorting a:active,
.sorting a.active {
  color: #000000;

  opacity: 1;
}

.descending:active path,
.ascending:active path,
.active path {
  fill: #231F20;
}


/* Каталог магазина: */

.wrapper-main-title-shop {
  background-color: #eeeeee;
}

.main-title-shop {
  margin: 0 auto;
  margin-bottom: 58px;

  display: flex;
  justify-content: center;
  width: 1160px;
  min-height: 163px;
  padding: 68px 20px 0px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;

  background-color: #eeeeee;
}

.wrapper-catalog {
  margin: 0 auto;
  width: 1160px;

  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}

.website-templates {
  width: 760px;
}

.website-templates .catalog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog-item {
  position: relative;
  margin-bottom: 34px;

  display: flex;
  flex-direction: column;
  padding-top: 39px;
}

.catalog-item::before {
  content: "";

  position: absolute;
  top: 0px;
  left: 0px;

  width: 360px;
  height: 40px;

  background-image: url("../img/browser.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.12;
}

.catalog-item:hover::before {
  opacity: 1;
}

.catalog .modal-order {
  position: absolute;
  bottom: 0;
  z-index: -1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 360px;
  min-height: 231px;
  max-height: 576px;
  padding: 33px 60px 42px 60px;

  text-align: center;

  overflow: hidden;
  background-color: #eeeeee;
}

.catalog-item:hover .modal-order {
  z-index: 1;
}

.modal-order:focus-within {
  z-index: 1;
}

.modal-order .website-title {
  display: block;
  width: 240px;

  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.modal-order .website-title:hover,
.modal-order .website-title:focus {
  color: #fb565a;
}

.modal-order .website-title:active {
  color: rgba(0, 0, 0, 0.3);
}

.modal-order p {
  margin: 20px 0px;

  width: 240px;
  max-height: 390px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
  text-align: center;

  overflow: auto;
}

.modal-order .website-order {
  margin-top: 10px;

  display: block;
  width: 200px;
  height: 50px;

  font-size: 16px;
  line-height: 50px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;

  border-radius: 3px;
  background-color: #fb565a;
}

.modal-order .website-order:hover,
.modal-order .website-order:focus {
  background-color: #e74246;
}

.modal-order .website-order:active {
  background-color: #d7373b;
}

.page-listing {
  margin-top: 27px;
  margin-bottom: 49px;

  display: flex;
  flex-wrap: wrap;
}

.page-listing a {
  margin-right: 11px;
  margin-bottom: 11px;

  display: block;
  box-sizing: border-box;
  height: 50px;
  min-width: 50px;
  padding: 15px;

  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;

  border-radius: 3px;
  background-color: #eeeeee;
}

.page-listing .next {
  min-width: 260px;
}

.page-listing a:hover,
.page-listing a:focus {
  background-color: #dfdfdf;
}

.page-listing a:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.page-listing a.active {
  line-height: 17px;

  background-color: #ffffff;
  border: 3px solid #dbdbdb;
}


/* Карта проезда  */

.map {
  position: relative;
  margin: 0 auto;

  width: 1200px;
  height: 416px;
}

.map .map-wrapper {
  position: absolute;
  top: 0px;
  left: -120px;

  width: 1440px;
  height: 416px;

  background-color: #eeeeee;
}

.map .marker {
  position: absolute;
  top: 90px;
  left: 700px;
}

.map .message {
  position: absolute;
  top: 55px;
  left: 20px;
  z-index: 10;

  box-sizing: border-box;
  width: 319px;
  min-height: 308px;
  padding: 30px 50px;

  background-color: #ffffff;
}

.map h3 {
  margin-bottom: 24px;

  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.map p,
.map .tel {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
  text-transform: none;
}

.map .write-us {
  margin-top: 38px;

  display: block;
  width: 219px;
  height: 50px;

  font-size: 16px;
  line-height: 50px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;

  border-radius: 3px;
  background-color: #fb565a;
}

.map .write-us:hover,
.map .write-us:focus {
  background-color: #e74246;
}

.map .write-us:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
}

.map .google-map {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -600px;
  z-index: -1;

  width: 1200px;
  height: 416px;

  background: #eeeeee;
}


/* Футер: */

.main-footer {
  margin: 0 auto;
  margin-top: 68px;
  margin-bottom: 58px;

  display: flex;
  width: 1160px;
  padding: 0px 20px;
}

.social-icons {
  margin-right: 127px;

  display: flex;
  flex-wrap: wrap;
  min-width: 273px;
}

.social-icons li {
  position: relative;
  margin-right: 12px;
  margin-bottom: 12px;
}

.social-icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 79px;
  height: 79px;

  font-size: 0;

  background-color: #e1e1e1;
  border-radius: 50%;
}

.social-icons a::before {
  content: "";

  display: block;

  background-repeat: no-repeat;
  background-position: 0 0;
}

.vkontakte::before {
  width: 26px;
  height: 15px;

  background-image: url("../img/vk-icon.svg");
}

.facebook::before {
  width: 12px;
  height: 22px;

  background-image: url("../img/fb-icon.svg");
}

.instagram::before {
  width: 21px;
  height: 21px;

  background-image: url("../img/insta-icon.svg");
}

.social-icons a:hover,
.social-icons a:focus {
  background-color: #e74246;
}

.social-icons a:active {
  background-color: #d7373b;
}

.social-icons a:active::before {
  opacity: 0.3;
}

.footer-slogan p:first-child {
  margin-top: 6px;
  margin-bottom: 6px;

  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.footer-slogan p:nth-child(2) {
  margin-top: 10px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}


/* Модальное окно сообщения: */

.modal-message {
  position: fixed;
  top: 140px;
  left: 50%;
  margin-left: -480px;
  z-index: 20;

  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  box-sizing: border-box;
  width: 960px;
  height: 590px;
  padding: 67px 50px 70px 100px;

  background-color: #ffffff;
  box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);

  transform: translateY(-2000px);
}

.modal-message-show {
  transform: translateY(0);

  animation: bounce 0.6s;
}

.modal-message-close {
  animation: bounce 0.6s;
  animation-direction: reverse;
}

.modal-message-error {
  animation: shake 0.6s;
}

.modal-message h2 {
  margin: 0 439px 0 0;

  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.modal-message .close-cross {
  margin-top: 11px;

  width: 21px;
  height: 21px;

  font-size: 0;

  background-color: #ffffff;
  background-image: url("../img/close-cross.svg");
  border: 0;
  opacity: 0.3;
}

.close-cross:hover,
.close-cross:focus {
  opacity: 1;
}

.close-cross:active {
  opacity: 0.1;
}

.message-form {
  margin-top: 25px;

  display: flex;
  flex-wrap: wrap;
}

.message-form p:first-child {
  margin-right: 40px;
  margin-bottom: 18px;
}

.message-form label {
  display: block;
  margin-bottom: 9px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.message-form input {
  box-sizing: border-box;
  width: 360px;
  height: 50px;
  padding: 10px 13px;

  border: 2px solid #d7dcde;
}

.message-form textarea {
  margin-bottom: 27px;

  box-sizing: border-box;
  width: 760px;
  height: 118px;
  padding: 12px 12px;

  border: 2px solid #d7dcde;
  resize: none;
}

.message-form input:hover,
.message-form textarea:hover {
  border: 2px solid #b4b9bb;
}

.message-form input:focus,
.message-form textarea:focus {
  border: 2px solid #000000;
}

.message-form input:invalid {
  color: #e74246;

  border: 2px solid #e74246;
}

.message-form input::-moz-placeholder { color: rgba(68, 68, 68, 0.5); font-size: 16px; }
.message-form input::-webkit-input-placeholder { color: rgba(68, 68, 68, 0.5); font-size: 16px; }
.message-form input:-ms-input-placeholder { color: rgba(68, 68, 68, 0.5); font-size: 16px; }
.message-form input::-ms-input-placeholder { color: rgba(68, 68, 68, 0.5); font-size: 16px; }
.message-form input::placeholder { color: rgba(68, 68, 68, 0.5); font-size: 16px; } 

.message-form textarea::-moz-placeholder { color: rgba(68, 68, 68, 0.5);  font-size: 16px; }
.message-form textarea::-webkit-input-placeholder { color: rgba(68, 68, 68, 0.5); font-size: 16px; }
.message-form textarea:-ms-input-placeholder { color: rgba(68, 68, 68, 0.5); font-size: 16px; }
.message-form textarea::-ms-input-placeholder { color: rgba(68, 68, 68, 0.5); font-size: 16px; }
.message-form textarea::placeholder { color: rgba(68, 68, 68, 0.5); font-size: 16px; } 

.message-form input:focus::-moz-placeholder { color: #444444;  }
.message-form input:focus::-webkit-input-placeholder { color: #444444; }
.message-form input:focus:-ms-input-placeholder { color: #444444; }
.message-form input:focus::-ms-input-placeholder { color: #444444; }
.message-form input:focus::placeholder { color: #444444; }

.message-form textarea:focus::-moz-placeholder { color: #444444;  }
.message-form textarea:focus::-webkit-input-placeholder { color: #444444; }
.message-form textarea:focus:-ms-input-placeholder { color: #444444; }
.message-form textarea:focus::-ms-input-placeholder { color: #444444; }
.message-form textarea:focus::placeholder { color: #444444; }

.message-form button {
  width: 260px;
  height: 50px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;

  border: 0;
  border-radius: 3px;
  background-color: #fb565a;
}

.message-form button:hover,
.message-form button:focus {
  background-color: #e74246;
  cursor: pointer;
}

.message-form button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}


/* Общие правила:  */

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
